/* .static{
    background-color: red;
    width:10vw;
    height:10vh;
    transition: linear .25s;

} */

/* .soulCycle{
    background-color:blue;
    width:20vw;
    height:20vh;
    border-radius: 50px;
} */
.b-g{
    background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
opacity: 75%;
}
.t-a-c {
    text-align: center;
}
.font {
    font-family: 'Poppins', sans-serif;
    color: white;
}
.f-s5 {
    font-size: 0.5em;
}
.f-s1 {
    font-size: 1em;
}
.shadow {
    filter: drop-shadow(0 0 15px #FFDF7C);   
    transition: linear 0.25s;
}
